@font-face {
    font-family: Lato-Light;
    src: url('../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Medium;
    src: url('../fonts/Lato-Medium.ttf');
}

body {
    font-family: Lato-Light, sans-serif;
    font-size: 1.5rem;
    line-height: 2.0;
}